{% extends "MainApp/base.html" %}
{% block content %}
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <section class="resume-section" id="contact">
            <div class="resume-section-content">
                <h2 class="mb-4 text-secondary">My address:</h2>
                <div class="subheading mb-4">
                    <a href="mailto:">email@domain.com</a>
                </div>
            </div>
        </section>
      </div>
    </div>
  </div>
{% endblock content %}
